header {
  padding: 10px 20px;
  background-color: #fff2f7;
  border-bottom: 1px solid #ffdeec;
  text-align: center;
}

header h2 {
  padding: 10px;
  margin: 0;
  color: #222;
  font-size: 18pt;
  font-family: "Comfortaa";
}

.content {
  padding: 40px;
  padding-top: 20px;
  font-family: "Montserrat";
}

hr {
  border-color: #ffdeec;
  border-style: solid;
  border-top: none;
}
