
@font-face {
  font-family: "Comfortaa";
  src: url('fonts/Comfortaa-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body, html {
  width:100%;
  height:100%;
  padding:0;
  margin: 0;
  font-family: Comfortaa;
}

.stroke-text {
  color:white;
  text-shadow: 1px 1px #ffd0e4, -1px -1px #ffd0e4, 1px 0 #ffd0e4, 0 1px #ffd0e4, -1px 0 #ffd0e4, 0 -1px #ffd0e4,
                        2px 2px #222, -2px -2px #222, 2px 0 #222, 0 2px #222,  -2px 0 #222, 0 -2px #222;
}

.hidden {
  display:none;
}
