.content .us {
  max-height: 400px;
  float: right;
  margin-left: 20px;
  margin-top: 20px;
}

.content .love-sick-puppy {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 0 2px #dfdfdf30;
}

.content .proposal {
  width: 100%;
  margin: 0;
  box-shadow: 0 0 2px #dfdfdf30;
}

@media screen and (max-width: 650px) {
  .content .us {
    float: none;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    object-fit: contain;
  }
}
